.header {
  position: relative;
  margin-bottom: 5.5rem;

  &-background-image {
    position: absolute;
    background-color: $pale-cyan-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;

    @media screen and (min-width: $medium-breakpoint) {
      content: url('../../images/bg-hero-desktop.svg');
    }
  }

  @media screen and (min-width: $large-breakpoint) {
    margin-bottom: 10rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.logo {
  width: 13rem;

  &--footer {
    position: relative;
    top: -7rem;
    width: 20rem;
  }
}

.footer {
  position: relative;
  background-color: $dark-cyan-color;
  color: #ffffff;
  padding: 3rem;

  &-items-container {
    display: grid;
    padding-top: 20rem;

    @media screen and (min-width: $medium-breakpoint) {
      grid-template-columns: 1fr 0.5fr 0.5fr;
      grid-template-rows: 1fr;
      column-gap: 7rem;
    }

    @media screen and (min-width: $large-breakpoint) {
      padding-left: 7rem;
      padding-right: 7rem;
      grid-template-columns: 2fr 1.5fr 1.5fr 2fr;
      column-gap: 7rem;
    }

    @media screen and (min-width: $extra-large-breakpoint) {
      padding: 20rem 7rem 0 7rem;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      column-gap: 14rem;
    }
  }
}

.contact-list {
  position: relative;
  top: -4rem;

  list-style: none;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    text-align: left;

    a {
      text-decoration: none;
      color: #ffffff;
    }

    &--1 {
      align-items: flex-start;
    }
  }

  &-icon {
    margin-right: 2rem;

    &--1 {
      margin-top: 0.6rem;
    }
  }
}

#social {
  display: grid;
  row-gap: 1rem;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  margin-top: 3.5rem;

  @media screen and (min-width: $medium-breakpoint) {
    position: relative;
    left: 50vw;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $large-breakpoint) {
    position: initial;
    left: 0;
    transform: translateX(0);
    margin-top: 0;
    text-align: left;
  }
}

.navigation-list {
  list-style: none;

  &-item {
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $large-breakpoint) {
    justify-content: flex-start;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  i {
    font-size: 2.5rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 1rem;
  }
}

.copyright-paragraph {
  font-size: 1.3rem;
  margin: auto 0;
}
