.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  font-weight: bold;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 1rem rgba($color: #000000, $alpha: 0.1);
  border: none;
  cursor: pointer;
  color: #000000;

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.2);
  }

  &-primary {
    background-color: $primary-color;
    color: $pale-cyan-color;
    padding: 1.2rem 7rem;
    font-size: 1.2rem;

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10);
    }

    &--cta {
      padding: 1.8rem 7rem;
      border-radius: 3rem;
    }
  }

  &-white {
    background-color: #fff;

    &:hover {
      background-color: lighten($color: #000, $amount: 30);
      color: #fff;
    }
  }
}
