.logo {
  // TODO: Make responsive
  width: 15rem;

  &--footer {
    width: 17rem;
    margin-top: 13.5rem;
    margin-bottom: 2rem;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  font-weight: bold;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 1rem rgba($color: #000000, $alpha: 0.1);
  border: none;
  cursor: pointer;
  color: #000000;

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.2);
  }

  &-primary {
    background-color: $primary-color;
    color: $pale-cyan-color;
    padding: 1.2rem 7rem;
    font-size: 1.2rem;

    &:hover {
      background-color: darken($color: $primary-color, $amount: 10);
    }

    &--cta {
      padding: 1.8rem 7rem;
      border-radius: 3rem;
    }
  }

  &-white {
    background-color: #fff;

    &:hover {
      background-color: lighten($color: #000, $amount: 30);
      color: #fff;
    }
  }
}

.card {
  background-color: #fff;
  padding: 3rem 4rem;
  margin-bottom: 5rem;
  box-shadow: 0 0.2rem 0.8rem rgba(#000, 0.1);
  border-radius: 2rem;
  text-align: center;

  &-image {
    height: 20rem;
    width: 100%;
    margin-bottom: 5rem;

    object-fit: contain;
  }

  &-heading {
    margin-bottom: 2rem;
  }

  &-content {
    color: $grayish-blue-color;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

.cta {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0 0.8rem 2rem rgba(#000, 0.1);
  border-radius: 2rem;
  margin: 0 1.5rem;
  margin-top: 13.5rem;
  margin-bottom: -8rem;
  padding: 5rem 1rem;
  text-align: center;
  z-index: 5;

  &-heading {
    font-family: inherit;
    color: #000000;
    margin-bottom: 3rem;
  }
}
