$primary-color: hsl(322, 100%, 66%);
$pale-cyan-color: hsl(193, 100%, 96%);
$dark-cyan-color: hsl(192, 100%, 9%);
$grayish-blue-color: hsl(208, 11%, 55%);

$medium-breakpoint: 600px;
$large-breakpoint: 1024px;
$extra-large-breakpoint: 1440px;
